<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IEEE LINK - Local Integrated Network of Kerala</title>
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="icon" href="/assets/images/IEEE_LINK-Icon.png" type="image/x-icon">
</head>
<body class="outfit-font">
  <header class="header">
    <div class="logo">
      <img src="/assets/images/IEEE LINK.svg" alt="IEEE LINK Logo">
    </div>
    <nav class="nav" id="nav">
      <ul>
        <li><a href="#"><i class="fa-solid fa-house"></i>Home</a></li>
        <li><a href="#about"><i class="fa-solid fa-circle-info"></i>About</a></li>
        <li><a href="#societies"><i class="fa-solid fa-landmark"></i>Societies</a></li>
        <li><a href="#footer"><i class="fa-regular fa-id-badge"></i>Contact Us</a></li>
        <li><a href="https://drive.google.com/file/d/1tORFd5oBg4c9ve1THdZ64pFeoImRa7Hd/view?usp=sharing"><i class="fa-solid fa-book-open"></i>IEEE LINKED</a> </li>
      </ul>
    </nav>
    <div class="hamburger-menu" id="hamburger-menu">
      <span>&#9776;</span>
    </div>
  </header>
  <section class="hero">
    <img src="/assets/images/bg1.jpeg" alt="Image 1" class="active">
    <img src="/assets/images/bg3.webp" alt="Image 2">
    <img src="/assets/images/bg4.webp" alt="Image 3">
    <div class="hero-text">
      <h1>IEEE LINK</h1>
      <p>Belong Where The Leaders Thrive</p>
      <button class="btn" onclick="window.location.href='#about'">Learn More</button>
    </div>
  </section>

  <section class="about-section" id="about">
    <div class="about">
        <div class="about-text  zoom-in hidden">
            <h2>Who Are We</h2>
            <p>
                LINK (Local Integrated Network of Kerala IEEE Students) is an innovative concept that originated in IEEE Kerala Section in India, aimed at networking student branches in an effective way, thereby increasing the value in IEEE Student membership. LINK was formally inaugurated by past IEEE President Mr. Cleon Anderson in January 2005. Since its inception, LINK has achieved tremendous results, causing an exponential increase in student branches and student activities in IEEE Kerala Section over the years. The model of LINK was adopted by IEEE Region 10 as R10 GINI (Global Integrated Network of IEEE Students).
            </p>
        </div>
    </div>
    <div class="stats zoom-in hidden">
      <div class="stat">
        <h3 class="count" data-target="13000">0</h3>
        <p>Student Members</p>
      </div>
      <div class="stat">
        <h3 class="count" data-target="116">0</h3>
        <p>Student Branches</p>
      </div>
      <div class="stat">
        <h3 class="count" data-target="3000">0</h3>
        <p>Events</p>
      </div>
      <div class="stat">
        <h3 class="count" data-target="400">0</h3>
        <p>Awards</p>
      </div>
    </div>
</section>

<section class="societies-section" id="societies">
  <h2 class="zoom-in hidden">Get Involved with Our Dynamic Societies</h2>
  <p class="zoom-in hidden">IEEE Society members stay technically current, network with colleagues locally and abroad, and collaborate on research and projects with leading experts while taking advantage of specialized opportunities.</p>
  <div class="societies-grid">
      <div class="society zoom-in hidden">
          <img src="/assets/images/computer.png" alt="IEEE Computer Society">
      </div>
      <div class="society zoom-in hidden">
          <img src="/assets/images/sight.png" alt="IEEE SIGHT">
      </div>
      <div class="society zoom-in hidden">
          <img src="/assets/images/antenna.png" alt="IEEE Antennas and Propagation Society">
      </div>
      <div class="society zoom-in hidden">
          <img src="/assets/images/photonics.png" alt="IEEE Photonics Society">
      </div>
      <div class="society zoom-in hidden">
          <img src="/assets/images/robotics.png" alt="IEEE Robotics and Automation Society">
      </div>
      <div class="society zoom-in hidden">
          <img src="/assets/images/cas.png" alt="IEEE Circuits and Systems Society">
      </div>
      <div class="society zoom-in hidden">
          <img src="/assets/images/emb.png" alt="IEEE Engineering in Medicine and Biology Society">
      </div>
      <div class="society  zoom-in hidden">
          <img src="/assets/images/pes.png" alt="IEEE Power & Energy Society">
      </div>
      <div class="society  zoom-in hidden">
          <img src="/assets/images/education.png" alt="IEEE Education Society">
      </div>
      <div class="society  zoom-in hidden">
          <img src="/assets/images/signal.png" alt="IEEE Signal Processing Society">
      </div>
      <div class="society  zoom-in hidden">
          <img src="/assets/images/comsoc.png" alt="IEEE Communications Society">
      </div>
      <div class="society zoom-in hidden">
          <img src="/assets/images/CRFID-logo-2x-retina.png" alt="IEEE Council on Radio Frequency Identification">
      </div>
      <div class="society zoom-in hidden">
          <img src="/assets/images/grss.png" alt="IEEE Geoscience and Remote Sensing Society">
      </div>
      <div class="society zoom-in hidden">
          <img src="/assets/images/mtts.png" alt="IEEE Microwave Theory and Techniques Society">
      </div>
      <div class="society zoom-in hidden">
          <img src="/assets/images/ssit.png" alt="IEEE Society on Social Implications of Technology">
      </div>
      <div class="society zoom-in hidden">
          <img src="/assets/images/3sum.png" alt="IA/IE/PELS JT. Chapter Kerala">
      </div>
      <div class="society zoom-in hidden">
          <img src="/assets/images/ssit.png" alt="IEEE Society on Social Implications of Technology">
      </div>
      <div class="society zoom-in hidden">
          <img src="/assets/images/promotion.jpeg" alt="IEEE Promotion of Innovation and Entrepreneurship">
      </div>
  </div>
</section>

<footer id="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3 class="zoom-in hidden">USEFUL LINKS</h3>
      <ul class="zoom-in hidden">
        <li><a href="https://ieee-mint.org/" >MINT</a></li>
        <li><a href="#">IEEE Kerala Section Interns</a></li>
        <li><a href="https://yp.ieeekerala.org/">IEEE Kerala Section YP</a></li>
        <li><a href="https://students.ieee.org/">IEEE Students</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Refund Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3 class="zoom-in hidden">USEFUL LINKS</h3>
      <ul class="zoom-in hidden">
        <li><a href="https://ieeekerala.org/">IEEE Kerala Section</a></li>
        <li><a href="https://ieeeindiacouncil.org/">IEEE India Council</a></li>
        <li><a href="https://www.ieeer10.org/">IEEE Region 10</a></li>
        <li><a href="https://www.ieee.org/">IEEE</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3 class="zoom-in hidden">CONTACT US</h3>
      <p class="zoom-in hidden"><i class="fas fa-map-marker-alt"></i>Pulimoodu, Thiruvananthapuram, Kerala, India</p>
      <p class="zoom-in hidden"><a style="color: inherit;" href="tel:+9104712473515"><i class="fas fa-phone-alt"></i>+91 0471 247 3515</a></p>
      <p class="zoom-in hidden"><a href="mailto:team@ieee-link.org" style="color: inherit;"><i class="fas fa-envelope"></i>team@ieee-link.org</a></p>
    </div>
    <div class="footer-section">
      <h3 class="zoom-in hidden">About IEEE LINK</h3>
      <p class="zoom-in hidden">IEEE LINK is an innovative concept that originated in IEEE Kerala Section in India, aimed at networking student branches in an effective way, thereby increasing the value in IEEE student membership.</p>
      <div class="social-icons zoom-in hidden">
        <a href="https://www.facebook.com/ieeelink"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/ieeelink/"><i class="fab fa-instagram"></i></a>
        <a href="https://linkedin.com/company/ieeelink"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom zoom-in hidden">
    <p>© Copyright <strong>IEEE Kerala Section</strong>. All Rights Reserved</p>
    <p>Made by <a href="https://www.github.com/danielpaul-123">Daniel Paul Perinchery</a></p>
  </div>
</footer>


  <script src="/assets/script.js"></script>
</body>
</html>
